*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin:0;
    background: #f5f6f9;
}
header{
    background-color: #ffffff;
    height: 65px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    justify-content: space-between;
    box-shadow: 0px 3px 10px 0 rgba(80,119,242,0.3);
}
/* nav,.inputSearch{
    display: none;
} */
nav ul{
    display: flex;
    list-style: none;
    gap: 15px;
    padding: 0;
}
nav ul li{
    cursor: pointer;
}
nav ul li:hover{
    color:#4361ee;
}

.inputSearch,
form{
    display: flex;
    align-items: center;
    height: 40px;
    width: 400px;
    border-radius: 35px;
    overflow: hidden;
    border: 1.5px solid #4361ee;
}
.inputSearch  input{
    width: 100%;
    height: 100%;
    padding: 0px 15px;
    border:none;
    outline: none;
    font-size: 16px;
}
.inputSearch span{
    width: 70px;
    background-color: #4361ee;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color:white;
}
.menuBtn{
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.menuBtn:hover{
    background-color: #4361ee;
    color:#ffffff;
}
.desktop{
    display: none;
}
@media all and (min-width:700px) {
    header{
        padding: 5px 30px;
    }
    .desktop{
        display: flex;
    }
    .menuBtn{
        display: none;
    }
}


/***mobile menu ****/
.mobile{
    position: fixed;
    top: 70px;
    width: 100%;
    max-width: 700px;
    background-color:#f5f6f9 ;
    height: 100vh;
    padding: 20px;
    box-shadow: none;
    z-index: 2;
    margin-left: -10px;
}
.mobile nav,
.mobile nav ul{
    flex-direction: column;
}

.mobile .inputSearch,
.mobile form{
    height: 35px;
}

.hidden{
    display: none;
}

@media all and (min-width:700px) {
 .mobile{
    display: none;
 }   
}



/***css card***/
main{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 10px;
    margin: auto;
}
.card{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    box-shadow: 7px 7px 25px 1px rgba(0,0,0,0.06);
    border-radius: 5px;
    overflow: hidden;
    padding-bottom: 10px;
    background: #ffffff;
}
.card img{
    min-height: 210px;
    max-height: 210px;
    background-color: #f4f4f4;
}
.card h4,
.card div{
    padding: 5px 10px;
    margin: 0px;
}
.publishbyDate{
    display: flex;
    align-items: center;
    color:#a5a1a1;
}
.publishbyDate p{
    margin:0px;
    font-size: 14px;
}
.publishbyDate span{
    padding: 0px 10px;
}
.desc{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    margin:0;
    
}
.card a{
    color:inherit;
    text-decoration: none;
}
@media all and (min-width:700px) {
    main{
        padding: 20px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card h4,
.card div{
    padding: 5px 15px;
}
}